---
import TextComment from '@components/TextComment'
import { HIGHT_SCHOOL } from '@constants/aboutMe'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={HIGHT_SCHOOL} />
  </div>
</AboutMeLayout>
