---
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
import TextComment from '@components/TextComment'
import { BIO } from '@constants/aboutMe'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={BIO} />
  </div>
</AboutMeLayout>
