---
import TextComment from '@components/TextComment'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
import { INTEREST } from '@constants/aboutMe'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={INTEREST} />
  </div>
</AboutMeLayout>
