---
import TextComment from '@components/TextComment'
import { UNIVESITY } from '@constants/aboutMe'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={UNIVESITY} />
  </div>
</AboutMeLayout>
