---
import TextComment from '@components/TextComment'
import { HARD_SKILSS } from '@constants/professional'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={HARD_SKILSS} />
  </div>
</AboutMeLayout>
