---
import TextComment from '@components/TextComment'
import { EXPERIENCIE } from '@constants/professional'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={EXPERIENCIE} />
  </div>
</AboutMeLayout>
