---
import TextComment from '@components/TextComment'
import { SOFT_SKILSS } from '@constants/professional'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={SOFT_SKILSS} />
  </div>
</AboutMeLayout>
