---
import ContactMeLayout from '@layouts/contactMeLayout.astro'
import ContactMeForm from '@components/ContactMeForm'
---

<ContactMeLayout>
  <div>
    <ContactMeForm client:only="react" />
  </div>
</ContactMeLayout>
