---
import TextComment from '@components/TextComment'
import { FAVORITE_GAMES } from '@constants/hobbies'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={FAVORITE_GAMES} />
  </div>
</AboutMeLayout>
