---
import TextComment from '@components/TextComment'
import { SPORTS } from '@constants/hobbies'
import AboutMeLayout from '@layouts/aboutMeLayout.astro'
---

<AboutMeLayout>
  <div>
    <TextComment client:only="react" text={SPORTS} />
  </div>
</AboutMeLayout>
