---
import Avatar from "@components/Avatar.astro"
import DetailsAndRating from "@components/DetailsAndRating.astro"
---

<aside class="w-full h-full text-white flex flex-col pt-4 pl-4">
    <span class="text-secondary text-snippets">// Code Snippets showcase:</span>
    <section class="w-full flex justify-center">
        <div class="flex items-center justify-between w-full mt-7 max-w-[600px]">
            <div class="w-[50%]]">
                <Avatar/>
            </div>
            <div class="w-[50%]">
                <DetailsAndRating/>
            </div>
        </div>
    </section>
</aside>