<div class="flex items-center gap-2 w-full">
  <img src="/i.jpg" alt="i" class="w-[32px] h-[32px] rounded-full" />
  <div class="flex flex-col justify-center w-full">
    <span class="text-small-letter text-secondary-blue font-bold"
      >@franklinsrr</span
    >
    <span class="text-small-letter text-secondary">Created 22 months ago</span>
  </div>
</div>
