---
import Code from './Code'
import Avatar from './Avatar.astro'
import DetailsAndRating from './DetailsAndRating.astro'

interface Props {
  code: string
}

const { code } = Astro.props
---

<section class="w-full flex flex-col justify-center px-0 *:md:px-5">
  <div class="flex items-center justify-between w-full mt-7">
    <div class="">
      <Avatar />
    </div>
    <div class="">
      <DetailsAndRating />
    </div>
  </div>
  <Code client:only="react" code={code} />
</section>
