<div class="flex justify-end w-full">
    <div class="flex w-[100px] gap-2">
        <img src="/details-icon.svg" alt="details" class="w-4 h-4">
        <span class="text-small-letter text-secondary">details</span>
    </div>
        
    <div class="w-[100px] gap-2 hidden lg:flex">
        <img src="/start-icon.svg" alt="starts rating" class="w-4 h-4">
        <span class="text-small-letter text-secondary">starts</span>
    </div>
</div>