---
import { clsx } from 'clsx'

const { pathname } = Astro.url
---

<body
  class={clsx(
    'flex flex-col bg-primary rounded-lg border-lines border xl:h-full w-full relative',
    {
      'h-full overflow-hidden': pathname === '/',
    }
  )}
>
  <slot />
</body>
