<footer
  class="w-full h-[39px] border-y border-y-lines text-secondary text-[13px] 2xl:text-snippets"
>
  <ul class="w-full flex">
    <li class="flex items-center px-5 border-r border-r-lines w-full md:w-auto">
      Find me in:
    </li>
    <li>
      <a
        href=""
        class="w-[50px] h-[39px] flex justify-center items-center border-r border-r-lines hover:bg-primary-hover"
      >
        <img
          class="w-[20px] h-[20px] opacity-40 hover:opacity-100"
          src="/twitter-icon.svg"
          alt="Twitter"
        />
      </a>
    </li>
    <li>
      <a
        href=""
        class="w-[50px] h-[39px] flex justify-center items-center border-r border-r-lines hover:bg-primary-hover"
      >
        <img
          class="w-[20px] h-[20px] opacity-40 hover:opacity-100"
          src="/facebook-icon.svg"
          alt="Facebook"
        />
      </a>
    </li>
    <li class="md:ml-auto">
      <a
        href=""
        class="w-[50px] md:w-full h-[39px] flex justify-center items-center md:px-5 border-l border-l-lines hover:bg-primary-hover"
      >
        <span class="mr-2 hidden md:block"> @franklinsrr </span>
        <img class="w-[20px] h-[20px]" src="/github-icon.svg" alt="Github" />
      </a>
    </li>
  </ul>
</footer>
