---
import { getTitle } from '@libs/getTitle'

const { pathname } = Astro.url
const titles = getTitle(pathname)

const [pageTitle, seconLevelPageTitle] = titles
const isSubTitleHidden = pageTitle === 'contact-me'
---

<div class="h-full flex flex-wrap xl:flex-nowrap pt-3 xl:pt-0">
  <div class="h-full w-full xl:w-[50%] flex-col">
    {
      !isSubTitleHidden && (
        <div class="h-[35px] w-full flex items-center border-b-0 xl:border-b xl:border-b-lines xl:border-r xl:border-r-lines">
          <section class="h-full xl:border-r xl:border-r-lines px-4 box-content flex items-center">
            <span class="block xl:hidden text-white mr-1">//</span>
            <span class="text-white xl:text-secondary text-snippets">
              {pageTitle}
            </span>
            <span class="text-secondary text-snippets ml-2 hidden xl:block">
              x
            </span>

            <span class={'block xl:hidden text-secondary text-snippets ml-2'}>
              / {seconLevelPageTitle}
            </span>
          </section>
        </div>
      )
    }
    <section class="w-full h-full flex">
      <slot name="main-content" />
    </section>
  </div>
  <div class="h-full w-full xl:w-[50%]">
    <div
      class="h-[35px] flex items-center xl:border-b xl:border-b-lines pt-[2px]"
    >
    </div>
    <slot name="aside-content" />
  </div>
</div>
