---
const { pathname } = Astro.url

const pageTitle = pathname?.split('/')[1] || pathname?.split('/')[0]
---

<div class="w-full xl:hidden h-[70px] px-[25px] flex items-center">
  <span class="text-white">
    _{pageTitle}
  </span>
</div>
