---
import Layout from "./Layout.astro";
import IconsMenu from "@components/Icons-menu.astro";
---

<Layout>
    <section class="h-full w-full">
        <IconsMenu/>
        <slot/>
    </section>
</Layout>