---
import { ClientRouter } from 'astro:transitions'
import EditorBox from '@components/EditorBox.astro'
import Menu from '@components/Menu'
import Footer from '@components/Footer.astro'
import { type MenuOptions } from '@interfaces/menu'

const { pathname } = Astro.url
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Software developer specializing in JavaScript/TypeScript, React, Next.js, Node.js, NestJS, AWS, and scalable app development with a focus on performance."
    />
    <link rel="canonical" href="https://franklingra.com" />
    <meta
      property="og:title"
      content="Franklin Rodriguez - FullStack Developer"
    />
    <meta
      property="og:description"
      content="Software developer specializing in JavaScript/TypeScript, React, Next.js, Node.js, NestJS, AWS, and scalable app development with a focus on performance."
    />
    <meta
      property="og:image"
      content="https://github.com/franklinsrr/portfolio/blob/main/public/og-image.png?raw=true"
    />
    <meta
      name="twitter:card"
      content="https://github.com/franklinsrr/portfolio/blob/main/public/og-image.png?raw=true"
    />
    <meta
      name="twitter:title"
      content="Franklin Rodriguez - FullStack Developer"
    />
    <meta
      name="twitter:description"
      content="Software developer specializing in JavaScript/TypeScript, React, Next.js, Node.js, NestJS, AWS, and scalable app development with a focus on performance."
    />

    <title>Franklin Rodriguez - FullStack Developer</title>
    <ClientRouter />
  </head>
  <EditorBox>
    <Menu client:only="react" pathname={pathname as unknown as MenuOptions} />
    <main class="h-full pb-5 xl:pb-0">
      <slot />
    </main>
    <Footer />
  </EditorBox>
</html>

<style>
  @font-face {
    font-family: 'Fire Code Regular';
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fire Code Light';
    src: url('/fonts/FiraCode-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fire Code Medium';
    src: url('/fonts/FiraCode-Medium.woff2') format('woff2');
    font-weight: Medium;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fire Code SemiBold';
    src: url('/fonts/FiraCode-SemiBold.woff2') format('woff2');
    font-weight: Medium;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fire Code Bold';
    src: url('/fonts/FiraCode-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fire Code VF';
    src: url('/fonts/FiraCode-VF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    margin: 30px;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    background-color: #010c15;
  }

  @media (max-width: 1024px) {
    html {
      margin: 15px;
    }
  }

  html,
  body {
    font-family: 'Fire Code Regular', monospace;
    font-size: 18px;
  }
</style>
